#container{
    background-color: rgb(143, 143, 236);
    height: auto;
    width: auto;
}
#select{
    margin-left: 450px;
    width: 100px;
}
h1{
    color: rgb(230, 13, 13);
    font-weight: bold;
}